body{
  margin-top: 50px;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6{
  font-family: Poppins;
}

p{
  font-family: Roboto;
}

/*Retira a borda e muda a cor do menu para branco*/
.navbar-default{
  /* background: #fff;*/
  /*border: 0;*/
  font-family: Poppins;
}

/*Muda cor, tamanho e negrito do Brand*/
.navbar-brand{
    font-size: 20px;
    color: #000 !important;
    font-weight: bold;
}

#introduction{
  height: 95vh;
  /*background-color: #76C06b;*/
  /*background-color: #3B3738;*/
  /*background-color: #7D1935;*/
  text-align: center;
}

#introduction h1{
  font-size: 30px;
  padding-top: 15%;
  color: #fff;
}

#development .dev-right, .dev-left{
  margin-top: 70px;
}
#development h1{
  font-size: 40px;
}
#development img{
  height: 250px;
  margin-left: 60px;
}

#analytic .bi-right, .bi-left{
  margin-top: 70px;
}
#analytic{
  margin-top: 50px;
}
#analytic h1{
  font-size: 40px;
}
#analytic img{
  height: 250px;
  margin-left: 60px;
}


#classes .class-right, .class-left{
  margin-top: 70px;
}
#classes h1{
  font-size: 40px;
}
#classes img{
  height: 250px;
  margin-left: 60px;
}


#aboutme h1{
  font-size: 40px;
}
#aboutme img{
  height: 250px;
  margin-left: 60px;
}
#aboutme .about-right, .about-left{
  margin-top: 70px;
}

#contact{
  background: #f1f1f1;
  padding: 50px 0 30px 0;
  text-align: center;
  margin-top: 40px;
}

#contact img{
  width: 20px;
}

#contact p{
  font-size: 32px;
  font-family: 'Josefin Sans';
  color: #000;
}

#contact p.customer{
  font-size: 20px;
  color:#666;
}
